### 데이터 전처리
#### 데이터를 가공하고 수정, 삭제하는 등의 처리하는 작업

In [12]:
import pandas as pd

# csv 파일 읽기 - read_csv()
df = pd.read_csv("./datas/food.csv")
# print(df)

# 주요 통계 함수 사용 - 가격
# print("평균:", sum(df['가격'])) #파이썬 방식
print("평균:", round(df['가격'].mean(), 2)) #pandas 방식
print("최대값: ", df['가격'].max()) #최대값
print("최대값의 위치: ", df['가격'].idxmax()) #최대값의 인덱스 번호

# 사분위수(25%, 50%, 75%, 100%)
print("1사분위수: ", df["가격"].quantile(.25))
print("2사분위수: ", df["가격"].quantile(.50))
print("중앙값: ", df["가격"].median())

평균: 4928.57
최대값:  7000
최대값의 위치:  1
1사분위수:  3750.0
2사분위수:  5500.0

### 결측치 처리
- #### 결측치 삭제
- #### 결측치 대체

In [18]:
import pandas as pd

data = {
    "메뉴": ["김밥", "비빔밥", "자장면", "우동", None, "자장면", "김밥"],
    "가격": [3000, 7000, 5500, None, 3500, 6000, 4000],
    "분류": ["한식", "한식", "중식", "일식", "한식", "중식", "한식"]
}

food = pd.DataFrame(data)
food

# 데이터 탐색
food.info()

# 결측치 확인 - isnull(), isna()
food.isnull() #True(1) / False(0)
food.isnull().sum()

# 결측치 대체 - 수치형(평균값, 중간값)
median = food['가격'].median()
median

# fillna(median)
food['가격'] = food['가격'].fillna(median)
food

# 결측치 대체 - 문자형(최빈값)
# frequency = food['메뉴'].mode() #시리즈 형태
frequency = food['메뉴'].mode()[0] #최빈값
frequency

food['메뉴'] = food['메뉴'].fillna(frequency)
print(food)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      6 non-null      object
 1   가격      6 non-null      float64
 2   분류      7 non-null      object
dtypes: float64(1), object(2)
memory usage: 300.0+ bytes
    메뉴      가격  분류
0   김밥  3000.0  한식
1  비빔밥  7000.0  한식
2  자장면  5500.0  중식
3   우동  4750.0  일식
4   김밥  3500.0  한식
5  자장면  6000.0  중식
6   김밥  4000.0  한식

### 타이타닉호 - 데이터 분석 및 처리

In [32]:
import pandas as pd
import seaborn as sns

# 시본의 데이터셋인 타이타닉 가져오기
df = sns.load_dataset('titanic')
df.head()
df.info()

# 결측치 확인
df.isnull().sum()

# deck 칼럼 삭제
df = df.drop("deck", axis=1)

# age 칼럼 - 평균값 대체
mean = df['age'].mean()
print(mean)

df['age'] = df['age'].fillna(mean)

# embark_town - 최빈값 대체
# df['embark_town'][825:830]
freq = df['embark_town'].mode()[0]
print(freq)

df['embark_town'] = df['embark_town'].fillna(freq)
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
29.69911764705882
Southampton
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB